body {
    font-family: 'Lato', sans-serif;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}

.card {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background: #ffffff;
    margin: 15px;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.card .title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 30%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0;
    font-size: 20px;
    color: #000000;
    background: #eeeeee;
}

.card img {
    position: relative;
    height: 70%;
    width: 100%;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
